@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

/* PARA FAZER COMENTÁRIO É UTILIZADO ISTO */

/* PARA FAZER O TEMA DARK E CORES DO TEXTO E BACKGROUND*/
:root, :root ´[data-theme='dark'] {
    --primary-color: #f0f0f0; /*COR DE TEXTO*/
    --secondary-color: #bd0d0d; /*SEGUNDA COR DE TEXTO*/
    --primary-bg-color: #0f1013; /*COR DE FUNDO*/
    --secondary-bg-color: #28292E;
    --primary-border-color: #28292E;
    --secundary-border-color: #56575A;

    --title-color: #f0f0f0;
    --text-color: #9a9a9c;
    --link-color: #9a9a9c;
    --icon-color: #e61212;

}

:root [data-theme='light'] {
    --primary-color: #dddde2;
    --primary-bg-color: #e9e9e9;
    --secondary-bg-color: #c7c8c9;
    --primary-border-color: #c7c8c9;

    --title-color: #0b0b0f;
    --text-color: #28292e;
    --link-color: #28292e;
    --icon-color: #ffffff;

}

/*
definindo variáveis de cores para um tema claro e um tema escuro

ROOT refere-se ao elemento raiz do documento HTML

seletor :root define as variáveis globais

Isso oferece uma maneira flexível de definir valores
que podem ser reutilizados em todo o seu CSS e facilmente atualizados de um único lugar.
*/

html [data-theme='light'] .brand-logo{
    filter: invert(1);
}

html [data-theme='light'] .tecnologias-logo{
    filter: invert(80%);
}

/* (*) significa reset do CSS */

* {
    margin: 0; /*margem*/
    padding: 0; /*preenchimento//espaçamento*/
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-bg-color) transparent;

}

body {
    background: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 2;
}

.header-toggle {
    display: flex;
    justify-content: flex-end;
}
.header-brand.brand{
    width:48rem;
    height: 48rem;

}

#toggleTheme{
    fronte size: 1.5rem;
    color:var(--icon-color)
    cursor:pointer;
    transition:ease-in-out.4s;
}
.menu{
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);

}
.menu-item{
    width: 100%;
}
.menu-link{
    display: flex;
    align-items: center;
    gap: .5rem; /*  */
}

.menu-mobile{
    width: 100vw;/* vw valores proporcionais para dispositivos */
    position: fixed;
    bottom:0;
    justify-content: space-between;
    border-top:1px solid var (--primary-border-color);
}

.menu-mobile .menu-link{
    flex-direction: column; /*  */
    justify-content: center;
    padding: 0.5rem 1rem;
}
.menu-link.active .menu-icon,
.menu-link.active .menu-text,
.menu-link:hover.menu-icon,
.menu-link:>:hover .menu-text{
    color: var(--primary-color);
}

.menu-icon, .menu-text{
    color:var(--text-color); 
}

.menu-icon{
    font-size: 1.5rem;
}